In [ ]:
truncate bronze
docker exec -it car-rental-bi-platform-oracle-xe-1 bash -lc "sqlplus -s raw_layer/Raw#123@localhost:1521/XEPDB1 <<'SQL'
SET SERVEROUTPUT ON
BEGIN
  FOR t IN (SELECT table_name FROM user_tables) LOOP
    EXECUTE IMMEDIATE 'DROP TABLE '||t.table_name||' CASCADE CONSTRAINTS PURGE';
  END LOOP;
END;
/
COMMIT;
SQL"