In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

# Connection
engine = create_engine(
    "oracle+oracledb://",
    connect_args={"user": "raw_layer", "password": "Raw#123", "dsn": "localhost:1521/XEPDB1"},
    pool_pre_ping=True,
)

print("Connected to Oracle.")

Connected to Oracle.

In [2]:
TRUNCATE_ORDER = [
    "RENTALS",
    "IOT_ALERTS",
    "MANAGERS",
    "CARS",
    "IOT_DEVICES",
    "CAR_CATEGORIES",
    "CUSTOMERS",
    "BRANCHES"
]

def try_truncate_or_delete(conn, table):
    try:
        conn.execute(text(f"TRUNCATE TABLE {table}"))
        print(f"üßπ TRUNCATE {table}")
    except Exception as e:
        print(f"‚ö†Ô∏è TRUNCATE {table} failed ‚Üí {e}; trying DELETE ...")
        deleted = conn.execute(text(f"DELETE FROM {table}")).rowcount
        print(f"üßΩ DELETE {table}: {deleted} rows")


def restart_identities(conn):
    seq_names = []

    try:
        rows = pd.read_sql(text("SELECT * FROM USER_TAB_IDENTITY_COLS"), conn)
        if not rows.empty and "SEQUENCE_NAME" in [c.upper() for c in rows.columns]:
            seq_names = rows["SEQUENCE_NAME"].dropna().astype(str).tolist()
    except:
        pass

    if not seq_names:
        try:
            idseqs = pd.read_sql(
                text("SELECT SEQUENCE_NAME FROM USER_SEQUENCES WHERE SEQUENCE_NAME LIKE 'ISEQ$$_%'"),
                conn
            )
            seq_names = idseqs["SEQUENCE_NAME"].astype(str).tolist()
        except:
            pass

    if not seq_names:
        try:
            allseqs = pd.read_sql(text("SELECT SEQUENCE_NAME FROM USER_SEQUENCES"), conn)
            seq_names = allseqs["SEQUENCE_NAME"].astype(str).tolist()
        except:
            pass

    if not seq_names:
        print("‚ÑπÔ∏è No sequences found to reset.")
        return

    for seq in seq_names:
        try:
            conn.execute(text(f"ALTER SEQUENCE {seq} RESTART START WITH 1"))
            print(f"üîÅ RESET sequence {seq} ‚Üí 1")
        except Exception as e:
            print(f"‚ö†Ô∏è Classic fallback for {seq}: {e}")


def wipe_all_data():
    with engine.begin() as conn:
        for t in TRUNCATE_ORDER:
            try_truncate_or_delete(conn, t)
        restart_identities(conn)

    print("üß® Database wiped.")

In [3]:
def map_table(conn, sql, key_col, val_col):
    """
    Ex√©cute une requ√™te SQL et renvoie un dict {key_col -> val_col},
    avec normalisation des noms de colonnes (UPPER).
    """
    t = pd.read_sql(text(sql), conn)
    if t.empty:
        return {}

    # Normaliser les noms de colonnes
    t.columns = [c.upper().strip() for c in t.columns]
    key_col_u = key_col.upper().strip()
    val_col_u = val_col.upper().strip()

    if key_col_u not in t.columns or val_col_u not in t.columns:
        print(f"‚ö†Ô∏è map_table: colonnes attendues absentes. Dispo={list(t.columns)}, key={key_col_u}, val={val_col_u}")
        return {}

    # On garde tel quel, en supposant val_col est num√©rique (ID)
    return dict(
        zip(
            t[key_col_u].astype(str),
            pd.to_numeric(t[val_col_u], errors="raise").astype(int)
        )
    )


def _get_iot_device_pk_name(conn):
    """
    Essaie de d√©tecter le nom de la PK/identity pour IOT_DEVICES.
    Fallback simple : 'DEVICE_ID'.
    """
    # 1) Essayer via USER_TAB_IDENTITY_COLS
    try:
        idx = pd.read_sql(
            text("SELECT COLUMN_NAME FROM USER_TAB_IDENTITY_COLS WHERE TABLE_NAME = 'IOT_DEVICES'"),
            conn
        )
        if not idx.empty:
            idx.columns = [c.upper().strip() for c in idx.columns]
            # si la colonne COLUMN_NAME existe on la prend, sinon on prend la premi√®re
            if "COLUMN_NAME" in idx.columns:
                col = str(idx.iloc[0]["COLUMN_NAME"]).strip()
            else:
                col = str(idx.iloc[0][idx.columns[0]]).strip()
            print(f"‚ÑπÔ∏è Identity column for IOT_DEVICES = {col}")
            return col
    except Exception as e:
        print(f"‚ÑπÔ∏è USER_TAB_IDENTITY_COLS non accessible: {e}")

    # 2) Fallback : USER_TAB_COLUMNS
    cols = pd.read_sql(
        text("SELECT COLUMN_NAME FROM USER_TAB_COLUMNS WHERE TABLE_NAME = 'IOT_DEVICES'"),
        conn
    )
    if cols.empty:
        print("‚ö†Ô∏è USER_TAB_COLUMNS ne retourne rien pour IOT_DEVICES, fallback DEVICE_ID")
        return "DEVICE_ID"

    cols.columns = [c.upper().strip() for c in cols.columns]
    if "COLUMN_NAME" not in cols.columns:
        print(f"‚ö†Ô∏è USER_TAB_COLUMNS sans COLUMN_NAME, colonnes={list(cols.columns)}, fallback DEVICE_ID")
        return "DEVICE_ID"

    names = [str(c).upper().strip() for c in cols["COLUMN_NAME"].tolist()]

    if "DEVICE_ID" in names:
        print("‚ÑπÔ∏è Fallback PK IOT_DEVICES = DEVICE_ID")
        return "DEVICE_ID"

    fallback = names[0]
    print(f"‚ÑπÔ∏è Fallback PK IOT_DEVICES = {fallback}")
    return fallback


def _fetch_free_device_ids(conn, pk):
    """
    R√©cup√®re les IDs de devices INACTIVE non li√©s √† une voiture.
    Renvoie une liste de int.
    """
    q = f"""
        SELECT d.{pk} AS DEVICE_PK
        FROM IOT_DEVICES d
        LEFT JOIN CARS c ON c.DEVICE_ID = d.{pk}
        WHERE d.STATUS = 'INACTIVE' AND c.DEVICE_ID IS NULL
        ORDER BY d.{pk}
    """
    t = pd.read_sql(text(q), conn)
    if t.empty:
        return []

    t.columns = [c.upper().strip() for c in t.columns]
    if "DEVICE_PK" not in t.columns:
        print(f"‚ö†Ô∏è _fetch_free_device_ids: colonne DEVICE_PK absente. Colonnes={list(t.columns)}")
        return []

    return pd.to_numeric(t["DEVICE_PK"], errors="coerce").dropna().astype(int).tolist()

In [4]:
def seed_branches():
    data = [
        ("Casablanca HQ","Bd Al Massira, Maarif","Casablanca","+212522000111","casa.hq@carrental.ma"),
        ("Rabat Agdal","Av. de France, Agdal","Rabat","+212537000222","rabat.agdal@carrental.ma"),
        ("Marrakech Gueliz","Av. Mohammed V, Gueliz","Marrakech","+212524000333","marrakech.gueliz@carrental.ma"),
        ("Tanger Downtown","Rue de la Libert√©, Centre-ville","Tanger","+212539000444","tanger.dt@carrental.ma"),
        ("Agadir Plage","Corniche, Plage","Agadir","+212602555666","agadir.plage@carrental.ma")
    ]
    df = pd.DataFrame(data, columns=["BRANCH_NAME","ADDRESS","CITY","PHONE","EMAIL"])
    with engine.begin() as conn:
        df.to_sql("BRANCHES", conn, if_exists="append", index=False)
    print("‚úÖ Inserted branches")

In [5]:
def seed_managers():
    rows = [
        ("MGR101","Amina","Berrada","amina.berrada@carrental.ma","+212600100101","pwd#Casa1","Casablanca HQ"),
        ("MGR102","Karim","Saidi","karim.saidi@carrental.ma","+212600100102","pwd#Casa2","Casablanca HQ"),
        ("MGR201","Yassin","El Idrissi","yassin.elidrissi@carrental.ma","+212600200201","pwd#Rabat1","Rabat Agdal"),
        ("MGR202","Lina","Mouline","lina.mouline@carrental.ma","+212600200202","pwd#Rabat2","Rabat Agdal"),
        ("MGR301","Nadia","Zerouali","nadia.zerouali@carrental.ma","+212600300301","pwd#Mrk1","Marrakech Gueliz"),
        ("MGR302","Omar","Kabbaj","omar.kabbaj@carrental.ma","+212600300302","pwd#Mrk2","Marrakech Gueliz"),
        ("MGR401","Soukaina","Benali","soukaina.benali@carrental.ma","+212600400401","pwd#Tgr1","Tanger Downtown"),
        ("MGR402","Hicham","Alaoui","hicham.alaoui@carrental.ma","+212600400402","pwd#Tgr2","Tanger Downtown"),
        ("MGR501","Sara","El Fassi","sara.elfassi@carrental.ma","+212600500501","pwd#Agd1","Agadir Plage"),
        ("MGR502","Youssef","Boukhriss","youssef.boukhriss@carrental.ma","+212600500502","pwd#Agd2","Agadir Plage"),
    ]

    df = pd.DataFrame(rows, columns=[
        "MANAGER_CODE","FIRST_NAME","LAST_NAME","EMAIL","PHONE","MANAGER_PASSWORD","BRANCH_NAME"
    ])

    with engine.begin() as conn:
        bmap = map_table(
            conn,
            "SELECT BRANCH_ID, BRANCH_NAME FROM BRANCHES",
            "BRANCH_NAME",
            "BRANCH_ID"
        )

        df["BRANCH_ID"] = df["BRANCH_NAME"].map(bmap)

        # üî¥ Tr√®s important : ne pas envoyer BRANCH_NAME √† Oracle
        ins = df[[
            "MANAGER_CODE",
            "FIRST_NAME",
            "LAST_NAME",
            "EMAIL",
            "PHONE",
            "MANAGER_PASSWORD",
            "BRANCH_ID",
        ]]

        ins.to_sql("MANAGERS", conn, if_exists="append", index=False)

    print(f"‚úÖ Inserted {len(df)} managers")

In [6]:
def seed_categories():
    rows = [
        ("Economy","Small city cars; fuel-efficient"),
        ("SUV","Sport Utility Vehicles"),
        ("Luxury","Premium sedans/coupes"),
        ("Van","7‚Äì9 seat vehicles"),
        ("Electric","Fully electric; zero emissions")
    ]
    df = pd.DataFrame(rows, columns=["CATEGORY_NAME","DESCRIPTION"])

    with engine.begin() as conn:
        df.to_sql("CAR_CATEGORIES", conn, if_exists="append", index=False)

    print("‚úÖ Inserted categories")

In [7]:
def seed_iot_devices():
    rows = [
        (f"DEV{str(i).zfill(3)}", f"IMEI10000000{str(i).zfill(3)}", f"v{1 + i//10}.{i%10}.0")
        for i in range(1, 51)
    ]

    df = pd.DataFrame(rows, columns=["DEVICE_CODE","DEVICE_IMEI","FIRMWARE_VERSION"])
    df["STATUS"] = "INACTIVE"
    df["ACTIVATED_AT"] = None
    df["LAST_SEEN_AT"] = None

    with engine.begin() as conn:
        df.to_sql("IOT_DEVICES", conn, if_exists="append", index=False)

    print("‚úÖ Inserted IoT devices")

In [8]:
def seed_cars():
    rows = [
        # Casablanca HQ (15)
        ("Economy","VIN000000001","A-101-CN","Dacia","Sandero",2022,"White",12000,"AVAILABLE","Casablanca HQ"),
        ("Economy","VIN000000002","A-102-CN","Toyota","Yaris",2021,"Blue",23000,"AVAILABLE","Casablanca HQ"),
        ("Economy","VIN000000003","A-103-CN","Kia","Picanto",2023,"Red",8000,"AVAILABLE","Casablanca HQ"),
        ("SUV","VIN000000004","A-104-SV","Hyundai","Tucson",2023,"Gray",9000,"AVAILABLE","Casablanca HQ"),
        ("SUV","VIN000000005","A-105-SV","Nissan","Qashqai",2022,"Silver",11000,"AVAILABLE","Casablanca HQ"),
        ("Luxury","VIN000000006","A-106-LX","BMW","530i",2021,"Black",41000,"AVAILABLE","Casablanca HQ"),
        ("Luxury","VIN000000007","A-107-LX","Audi","A6",2022,"White",37000,"AVAILABLE","Casablanca HQ"),
        ("Van","VIN000000008","A-108-VN","Renault","Trafic",2020,"Gray",60000,"AVAILABLE","Casablanca HQ"),
        ("Van","VIN000000009","A-109-VN","Ford","Tourneo",2021,"Blue",52000,"AVAILABLE","Casablanca HQ"),
        ("Electric","VIN000000010","A-110-EV","Renault","Zoe",2022,"Green",9500,"AVAILABLE","Casablanca HQ"),
        ("Electric","VIN000000011","A-111-EV","Peugeot","e-208",2023,"Yellow",4000,"AVAILABLE","Casablanca HQ"),
        ("Electric","VIN000000012","A-112-EV","Tesla","Model 3",2023,"White",7000,"AVAILABLE","Casablanca HQ"),
        ("Economy","VIN000000013","A-113-CN","Fiat","Panda",2021,"Red",17000,"AVAILABLE","Casablanca HQ"),
        ("SUV","VIN000000014","A-114-SV","Dacia","Duster",2022,"Orange",21000,"AVAILABLE","Casablanca HQ"),
        ("Luxury","VIN000000015","A-115-LX","Mercedes","E200",2021,"Black",36000,"AVAILABLE","Casablanca HQ"),

        # Rabat Agdal (10)
        ("Economy","VIN000000016","B-201-CN","Toyota","Yaris",2022,"Gray",19000,"AVAILABLE","Rabat Agdal"),
        ("Economy","VIN000000017","B-202-CN","Hyundai","i10",2023,"Blue",8000,"AVAILABLE","Rabat Agdal"),
        ("SUV","VIN000000018","B-203-SV","Kia","Sportage",2022,"Black",15000,"AVAILABLE","Rabat Agdal"),
        ("SUV","VIN000000019","B-204-SV","Volkswagen","T-Roc",2021,"White",21000,"AVAILABLE","Rabat Agdal"),
        ("Luxury","VIN000000020","B-205-LX","BMW","320i",2022,"Blue",28000,"AVAILABLE","Rabat Agdal"),
        ("Luxury","VIN000000021","B-206-LX","Audi","A4",2023,"Silver",19000,"AVAILABLE","Rabat Agdal"),
        ("Van","VIN000000022","B-207-VN","Ford","Transit",2020,"White",65000,"AVAILABLE","Rabat Agdal"),
        ("Van","VIN000000023","B-208-VN","Mercedes","Vito",2021,"Gray",52000,"AVAILABLE","Rabat Agdal"),
        ("Electric","VIN000000024","B-209-EV","Nissan","Leaf",2022,"Green",10000,"AVAILABLE","Rabat Agdal"),
        ("Electric","VIN000000025","B-210-EV","Peugeot","e-2008",2023,"Black",6000,"AVAILABLE","Rabat Agdal"),

        # Marrakech Gueliz (10)
        ("Economy","VIN000000026","C-301-CN","Renault","Clio",2021,"Gray",22000,"AVAILABLE","Marrakech Gueliz"),
        ("SUV","VIN000000027","C-302-SV","Jeep","Compass",2022,"Red",17000,"AVAILABLE","Marrakech Gueliz"),
        ("SUV","VIN000000028","C-303-SV","Hyundai","Kona",2023,"Silver",9000,"AVAILABLE","Marrakech Gueliz"),
        ("Luxury","VIN000000029","C-304-LX","Mercedes","C-Class",2021,"Black",39000,"AVAILABLE","Marrakech Gueliz"),
        ("Luxury","VIN000000030","C-305-LX","BMW","X3",2022,"White",31000,"AVAILABLE","Marrakech Gueliz"),
        ("Van","VIN000000031","C-306-VN","Fiat","Ducato",2020,"White",72000,"AVAILABLE","Marrakech Gueliz"),
        ("Van","VIN000000032","C-307-VN","Peugeot","Expert",2021,"Gray",54000,"AVAILABLE","Marrakech Gueliz"),
        ("Electric","VIN000000033","C-308-EV","Tesla","Model Y",2023,"Blue",8000,"AVAILABLE","Marrakech Gueliz"),
        ("Electric","VIN000000034","C-309-EV","Renault","Megane E-Tech",2023,"Yellow",4000,"AVAILABLE","Marrakech Gueliz"),
        ("Economy","VIN000000035","C-310-CN","Suzuki","Swift",2022,"Orange",15000,"AVAILABLE","Marrakech Gueliz"),

        # Tanger Downtown (10)
        ("Economy","VIN000000036","D-401-CN","Dacia","Logan",2020,"White",45000,"AVAILABLE","Tanger Downtown"),
        ("SUV","VIN000000037","D-402-SV","Toyota","RAV4",2021,"Black",23000,"AVAILABLE","Tanger Downtown"),
        ("SUV","VIN000000038","D-403-SV","Kia","Seltos",2023,"Gray",9000,"AVAILABLE","Tanger Downtown"),
        ("Luxury","VIN000000039","D-404-LX","Audi","A5",2022,"Blue",21000,"AVAILABLE","Tanger Downtown"),
        ("Luxury","VIN000000040","D-405-LX","BMW","X5",2023,"Silver",18000,"AVAILABLE","Tanger Downtown"),
        ("Van","VIN000000041","D-406-VN","Mercedes","Vito",2020,"White",71000,"AVAILABLE","Tanger Downtown"),
        ("Van","VIN000000042","D-407-VN","Ford","Transit",2021,"Blue",65000,"AVAILABLE","Tanger Downtown"),
        ("Electric","VIN000000043","D-408-EV","Nissan","Leaf",2022,"Green",12000,"AVAILABLE","Tanger Downtown"),
        ("Electric","VIN000000044","D-409-EV","Peugeot","e-208",2023,"Red",5000,"AVAILABLE","Tanger Downtown"),
        ("Economy","VIN000000045","D-410-CN","Toyota","Aygo",2021,"Orange",18000,"AVAILABLE","Tanger Downtown"),

        # Agadir Plage (10)
        ("Economy","VIN000000046","E-501-CN","Hyundai","i20",2023,"White",9000,"AVAILABLE","Agadir Plage"),
        ("SUV","VIN000000047","E-502-SV","Nissan","Juke",2021,"Gray",25000,"AVAILABLE","Agadir Plage"),
        ("SUV","VIN000000048","E-503-SV","Kia","Seltos",2022,"Black",20000,"AVAILABLE","Agadir Plage"),
        ("Luxury","VIN000000049","E-504-LX","BMW","530e",2023,"Silver",12000,"AVAILABLE","Agadir Plage"),
        ("Luxury","VIN000000050","E-505-LX","Mercedes","C-Class",2022,"White",15000,"AVAILABLE","Agadir Plage"),
        ("Van","VIN000000051","E-506-VN","Peugeot","Traveller",2021,"Gray",61000,"AVAILABLE","Agadir Plage"),
        ("Van","VIN000000052","E-507-VN","Renault","Trafic",2020,"White",68000,"AVAILABLE","Agadir Plage"),
        ("Electric","VIN000000053","E-508-EV","Tesla","Model 3",2023,"Black",7000,"AVAILABLE","Agadir Plage"),
        ("Electric","VIN000000054","E-509-EV","Renault","Zoe",2022,"Blue",8000,"AVAILABLE","Agadir Plage"),
        ("Electric","VIN000000055","E-510-EV","Peugeot","e-208",2023,"Yellow",6000,"AVAILABLE","Agadir Plage"),
    ]

    df = pd.DataFrame(rows, columns=[
        "CATEGORY_NAME","VIN","LICENSE_PLATE","MAKE","MODEL","MODEL_YEAR",
        "COLOR","ODOMETER_KM","STATUS","BRANCH_NAME"
    ])

    with engine.begin() as conn:
        # 1) R√©cup√©rer les mappings
        cmap = map_table(
            conn,
            "SELECT CATEGORY_ID, CATEGORY_NAME FROM CAR_CATEGORIES",
            "CATEGORY_NAME",
            "CATEGORY_ID",
        )
        bmap = map_table(
            conn,
            "SELECT BRANCH_ID, BRANCH_NAME FROM BRANCHES",
            "BRANCH_NAME",
            "BRANCH_ID",
        )

        if not cmap:
            raise RuntimeError("‚ö†Ô∏è CAR_CATEGORIES est vide ou introuvable. Seed categories d'abord.")
        if not bmap:
            raise RuntimeError("‚ö†Ô∏è BRANCHES est vide ou introuvable. Seed branches d'abord.")

        # 2) PK de IOT_DEVICES + devices libres
        device_pk = _get_iot_device_pk_name(conn)
        free = _fetch_free_device_ids(conn, device_pk)

        # 3) V√©rifier s'il y a assez de devices (optionnel)
        if len(free) < len(df):
            print(f"‚ÑπÔ∏è Seulement {len(free)} devices INACTIVE libres pour {len(df)} voitures. Les derni√®res auront DEVICE_ID = NULL.")

        # 4) Remplacement des noms par IDs
        df["CATEGORY_ID"] = df["CATEGORY_NAME"].map(cmap)
        df["BRANCH_ID"]   = df["BRANCH_NAME"].map(bmap)
        df["DEVICE_ID"]   = [free.pop(0) if free else None for _ in range(len(df))]

        # V√©rifier les valeurs manquantes
        missing_cat = sorted(set(df["CATEGORY_NAME"]) - set(cmap.keys()))
        missing_br  = sorted(set(df["BRANCH_NAME"])   - set(bmap.keys()))
        if missing_cat:
            raise RuntimeError(f"Cat√©gories inconnues dans CARS: {missing_cat}")
        if missing_br:
            raise RuntimeError(f"Branches inconnues dans CARS: {missing_br}")

        # 5) ‚úÖ Ins√©rer uniquement les colonnes qui existent dans la table CARS
        ins = df[[
            "CATEGORY_ID",
            "DEVICE_ID",
            "VIN",
            "LICENSE_PLATE",
            "MAKE",
            "MODEL",
            "MODEL_YEAR",
            "COLOR",
            "ODOMETER_KM",
            "STATUS",
            "BRANCH_ID",
        ]]

        ins.to_sql("CARS", conn, if_exists="append", index=False)

        # 6) Mettre √† jour les devices assign√©s ‚Üí ACTIVE
        assigned_ids = [int(x) for x in ins["DEVICE_ID"].dropna().unique().tolist()]
        if assigned_ids:
            id_list = ", ".join(map(str, assigned_ids))
            conn.execute(text(f"""
                UPDATE IOT_DEVICES
                   SET STATUS = 'ACTIVE',
                       ACTIVATED_AT = NVL(ACTIVATED_AT, SYSTIMESTAMP)
                 WHERE {device_pk} IN ({id_list})
            """))

    print(f"‚úÖ Inserted {len(df)} cars with device assignment")

In [9]:
wipe_all_data()
seed_branches()
seed_managers()
seed_categories()
seed_iot_devices()
seed_cars()

print("üéâ Static seed completed (fresh database).")

üßπ TRUNCATE RENTALS
üßπ TRUNCATE IOT_ALERTS
üßπ TRUNCATE MANAGERS
üßπ TRUNCATE CARS
üßπ TRUNCATE IOT_DEVICES
üßπ TRUNCATE CAR_CATEGORIES
üßπ TRUNCATE CUSTOMERS
üßπ TRUNCATE BRANCHES
‚ÑπÔ∏è No sequences found to reset.
üß® Database wiped.

C:\Users\hamza\AppData\Local\Temp\ipykernel_22840\683358993.py:11: UserWarning: The provided table name 'BRANCHES' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql("BRANCHES", conn, if_exists="append", index=False)
C:\Users\hamza\AppData\Local\Temp\ipykernel_22840\4210116179.py:40: UserWarning: The provided table name 'MANAGERS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  ins.to_sql("MANAGERS", conn, if_exists="append", index=False)

‚úÖ Inserted branches
‚úÖ Inserted 10 managers
‚úÖ Inserted categories
‚úÖ Inserted IoT devices
‚ÑπÔ∏è Identity column for IOT_DEVICES = DEVICE_ID
‚ÑπÔ∏è Seulement 50 devices INACTIVE libres pour 55 voitures. Les derni√®res auront DEVICE_ID = NULL.
‚úÖ Inserted 55 cars with device assignment
üéâ Static seed completed (fresh database).

C:\Users\hamza\AppData\Local\Temp\ipykernel_22840\2063185464.py:12: UserWarning: The provided table name 'CAR_CATEGORIES' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql("CAR_CATEGORIES", conn, if_exists="append", index=False)
C:\Users\hamza\AppData\Local\Temp\ipykernel_22840\1502436165.py:13: UserWarning: The provided table name 'IOT_DEVICES' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql("IOT_DEVICES", conn, if_exists="append", index=False)
C:\Users\hamza\AppData\Local\Temp\ipykernel_22840\2691599447.py:130: UserWarning: The provided table name 'CARS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  ins.to_sql("CARS", conn, if_exists="append", index=False)